html,
body,
.root {
  height: 100%;

}
body {
  line-height: 1.5;

}
body,
.app {
  background-color:#15cdfc;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background:  #15cdfc;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  margin-top: 100px;
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
  /* background-color:rgb(252, 248, 248); */

}



.bookshelf-title {
  border-bottom: 1px solid #15cdfc;
  color: #15cdfc;
  text-align: center;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #15cdfc;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(58, 96, 104, 0.16), 0 3px 6px rgba(51, 57, 57, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  background-color: #15cdfc;
  margin-top: -60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background:#15cdfc;
 margin-top: 80px;
}
.search-books-bar input {
  
  margin-left: 20px;
  margin-bottom: 10px;
  width: 400px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  justify-items: center;
  padding: 10px;
  padding-right: 80px;
  color: #1b130e;
}

.close-search {
  margin-top: 80px;
  border-radius: 50%;
  margin-left: 10px;
  display: block;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 40px;
  background: #000;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  margin-top: 5px;
  padding: 80px 10px 20px;
  background-color: #000;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
background-color: gray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
  
}

.book {
  width: 140px;
  
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color:#15cdfc;
}

.book-top {
  position:inherit;
  height: 200px;
  display: flex;
  width: fit-content;
  align-items: flex-end;
}

.book-shelf-changer {
  position: inherit;
  right: 0;
  margin-left: -39px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:  #15cdfc;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: rgb(238, 238, 238);
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  };
  
}
@media (max-width: 400px) {
  .search-books-bar input{
    margin-bottom: 30px;
    width:200px;
    font-size: 10px;
  };
  
}
